.geolocation {
    height: 29px;
    
    color: white;
    padding: 3px;
    display: flex;
    background-color:  #232f3e;
    z-index: 999;
    text-align: center;
    align-items: center;
    
    
    
}


.geolocation__content {
    margin-left: 15px;
}

.city {
    font-weight: 900 ;
}


@media screen and (max-width: 960px) {

.geolocation {
    height: 24px;
    
    font-size: 12px;
    
    
    
}



}